.mapOverlay {
    z-index: var(--z-index-level-1);
    position: absolute;
    bottom: 0;
    background-color: var(--main-background-color);
    padding: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    border-radius: 2rem 2rem 0 0;
    text-align: left;
    h1 {
        font-size: 1.5rem;
    }
}
