.stationMarker {
    --marker-font-size: 1rem;
    --button-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        color: var(--secondary-text-color);
        background-color: var(--theme-accent-color);
        padding: 0;
        width: var(--button-size);
        height: var(--button-size);
        border-radius: 50%;
        font-size: var(--marker-font-size);
        line-height: var(--marker-font-size);
        &:focus-visible,
        &:hover {
            --button-size: 2em;
            :global(.stationMarker__availability) {
                display: block;
            }
        }
        &:focus-visible {
            outline: 2px solid red;
        }
    }
    &:global(.zoom-close) {
        button {
            --button-size: 2em;
        }
    }
    &:global(.zoom-distant) {
        :global(.stationMarker__availability) {
            display: none;
        }
    }
}
